{% extends 'base.html' %}

    {% block customcss %}
    {% endblock customcss %}

    {% block header %}
    <div class="alert alert-primary" role="alert">
      個別投稿
    </div>
    {% endblock header %}

    {% block content %}
    <div class="container">
        <div class="alert alert-success" role="alert">

            <p>タイトル: {{ object.title }}</p>
            <p>投稿者: {{ object.author }}</p>
            <p>内容: {{ object.content }}</p>

            <!--   画像表示       -->
            <!--   画像の時は、 .url を付ける必要がある      -->
            <!--  Bootstrap の Images  適用         -->
            <!--    https://getbootstrap.com/docs/4.3/content/images/        -->
            <p><img class="mw-100 img-fluid" src="{{ object.images.url }}"></p>

            <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいねする</a>
            <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">既読にする</a>
        </div>
        <br>
        <Hr>
        <a href="{% url 'list' %}" class="btn btn-primary" role="button">戻る</a>

    </div>
    {% endblock content %}

